<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkWFecdtYSbEdSkH7OAza9qfYp1cucA_c</string>
	<key>GCM_SENDER_ID</key>
	<string>137114861482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yemekUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>yemekapp5678</string>
	<key>STORAGE_BUCKET</key>
	<string>yemekapp5678.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137114861482:ios:4fe164cdf8826ca1b175d3</string>
</dict>
</plist>